{% extends 'flatpages/default.html' %}
{% load Censor %}
{% block title %} News {% endblock title %}
{% block content %}
<div class="container">
{% if posts %}
{% for post in posts %}
    <div class="list-group" style="@include media-breakpoint-down(md)">
        <div class=" flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="">{{ post.header }}</h4>
                <small>{{post.date_time|date:'d M Y ' }}</small>
            </div>
        {% if   post.news_or_article == 2 %}
            <p class="mb-1">{{ post.text|truncatewords:50|censor:"***" }}</p>
        {% else %}
            <p class="mb-1">{{ post.text|censor:"***" }}</p>
        {% endif %}
            <small>{{ post.author.user }}</small>
        </div>
    </div>
{% endfor %}
{% else %}
    <p>Новостей нет!</p>
{% endif %}
    </div>
{% endblock content %}